body {
  margin:0;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.home {
	font-weight: 700;
  height: 550px;
  color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40;
    font-family: Arial, sans-serif;
}

.news {
  background-color: #00368E; 
	padding: 50px;
	color: #FFFFFF;
}

.contact {
  background-color: #DCDCDC; 
  margin-top: 0px;
}  

.gray {
	color: #DCDCDC;
}

.darkgray {
	color: #666666;
}
